.footer {
    position: fixed;
    bottom: 0;
    color: white;
    background: black;
    height: 70px;
    width: 100%;
    text-align: center;

    .footer-content {
        padding: 15px 20px;
    }

    h2 {
        font-family: 'Neue Montreal';
        font-weight: 300;
    }
}