.home {
    .carrusel-preset {
        width: 100%;
        height: 100vh;
    }
    .god-back{
        background: url('https://images-ext-2.discordapp.net/external/petTQ1faAcsjZwPqYXs0pODxPQ6rQPR98YbWcSDDJNA/https/i.imgur.com/BRJ4wl6.jpg');
        background-position: bottom 20px right 0px;
        background-size: cover;
    }

    .god-front{
        background: url('https://images-ext-2.discordapp.net/external/lzqLNLugCyVUIz8a5DwiX_uAgZjzqhFGvbAAzIHO16I/https/i.imgur.com/RhsmHl8.jpg');
        background-position: bottom 20px right 0px;
        background-size: cover;
    }

    .gachapon-back{
        background: url('https://images-ext-1.discordapp.net/external/oPoVgBpJnOp4K2qWYo5S9cQAov_KIF8dG89eMKBmbnA/https/i.imgur.com/KuAdKQ4.jpg');
        background-position: bottom 20px right 0px;
        background-size: cover;
    }

    .gachapon-front {
        background: url('https://images-ext-1.discordapp.net/external/BPC7TKubEonmgukMfJdR4st7Ag7Bqh6CawukS-ymV6c/https/i.imgur.com/h4pjXoy.jpg');
        background-position: bottom 20px right 0px;
        background-size: cover;
    }

    .pin-back {
        background: url('https://images-ext-2.discordapp.net/external/xm9N2TM7iucDpDlcP4cNP5hSnLS1bwQkaTs78kZJ0kw/https/i.imgur.com/O2bvRax.jpg');
        background-position: bottom 30px right 0px;
        background-size: cover;
    }

    .pin-front {
        background: url('https://images-ext-2.discordapp.net/external/UwRIGaeKoK5qiIAX9NZrhbwX_T-WbSRDQsAHmSwxMnk/https/i.imgur.com/jjD7bAc.jpg');
        background-position: bottom 30px right 0px;
        background-size: cover;
    }

  
    .text-zone {
        position: absolute;
        top: 25%;
        color: white;
        left: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin-bottom: 8px;
            font-family: 'Neue Montreal';
        }

        h5 {
            margin-top: 0;
            margin-bottom: 30px;
            font-size: 50px;
            font-family: 'PuncRegular';
        }
    }

    

    .call-to-action{
        background: black;
        font-size: 40px;
        font-family: 'Neue Montreal';
        font-weight: 600;
        border: none;
        color: white;
        position: relative;
        padding: 15px 30px 15px 30px;
        box-shadow: 5px 5px 1px white;
        transition: all 0.2s linear;
        text-decoration: none;
        cursor: pointer;
        // border-radius: 45px;
    }

    .call-to-action:hover{
        box-shadow: 8px 8px 1px black;
        color: black;
        background: white;
    }
    
    div {
        width: 100%;
        height: 85vh;
    }
}

//Small devices
@media screen and (max-width: 900px) {
    .home {
        .carrusel-preset {
            width: 100%;
            height: 100vh;
        }
    
        .god-back{
            background: url('https://media.discordapp.net/attachments/370170882087190540/958773568093691934/Movil2.png');
            background-position: bottom 40px right -40px;
            background-size: 120%;
        }
    
        .gachapon-back{
            background: url('https://media.discordapp.net/attachments/370170882087190540/958773566470504468/Movil3.png');
            background-position: top -130px right -100px;
            background-size: 150%;
        }
    
        .pin-back {
            background: url('https://media.discordapp.net/attachments/370170882087190540/958773567292575834/Movil1.png');
            background-position: bottom 40px right -40px;
            background-size: 120%;
        }

        .call-to-action{
            font-size: 35px;
        }

        .text-zone {
            position: absolute;
            top: 49%;
            color: white;
            left: 1%;
    
            p {
                margin-bottom: 0;
    
            }
    
            h5 {
                margin-top: 0;
                font-size: 35px;
            }
        }
        
    }

}

//21:9 settings
@media screen and (min-device-aspect-ratio: 21/9) {
    .home {
        .carrusel-preset {
            width: 100%;
            height: 100vh;
        }
    
        .god-back{
            background: url('https://cdn.discordapp.com/attachments/370170882087190540/958753954718683206/Prueba.png');
            background-position: top -250px right 0px;
            background-size: cover;
        }
    
        .gachapon-back{
            background: url('https://media.discordapp.net/attachments/370170882087190540/958768767977013298/Prueba4.png');
            background-position: top -250px right 0px;
            background-size: cover;
        }
    
        .pin-back {
            background: url('https://media.discordapp.net/attachments/370170882087190540/958769192407035944/Prueba5.png');
            background-position: top -250px right 0px;
            background-size: cover;
        }
    }

}