.sidebar-wrapper {
    display: none;
    transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
    .sidebar-wrapper {
        display: block;
        position: fixed;
        z-index: 4;
        top: 0;
        height: 100%;
        background: black;
        color: white;
        width: 100%;
        visibility: hidden;
        font-family: 'Neue Montreal';
        transition: all 0.3s ease;

        article {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            h4 {
                font-size: 30px;
                margin-bottom: 0px;
                margin-top: 0px;
            }

            a {
                color: white;
                font-size: 23px;
                text-decoration: none;
                margin-right: 15px;
                display: flex;
                align-items: center;
                margin-top: 10px;

                p {
                    margin-top: 0;
                    margin-bottom: 5px;
                    margin-left: 10px;
                }
            }
        }

        .logo-watermark{
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            position: absolute;
            filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(110deg) brightness(98%) contrast(108%);
            bottom: 15%;
            opacity: 0.25;
        }
    }
    
    .show{
        visibility: visible;
    }

    .close-btn{
        background: none;
        border: none;
        color: white;
        font-size: 40px;
        position: fixed;
        top: 2%;
        right: 5%;
    }

    .sidebar-links {
        color: white;
        position: fixed;
        top: 15%;
        left: 10%;
        right: auto;
    }
}