@font-face {
    font-family: 'PuncRegular';
    src: local('PuncRegular'), url('./assets/fonts/Punc-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Neue';
    src: locla('Helvetica Neue'), url('./assets/fonts/Helvetica\ Neue\ UltraLight.otf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: locla('Helvetica Neue'), url('./assets/fonts/Helvetica\ Neue\ Medium\ Extended.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/fonts/NeueMontreal-Regular.otf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/fonts/NeueMontreal-Light.otf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/fonts/NeueMontreal-Medium.otf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/fonts/NeueMontreal-Bold.otf') format('truetype');
    font-weight: 800;
}

.loader-active {
    display: block;
    position: absolute;
    color: black;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    animation: fadeOut 1s 1s;
    animation-fill-mode: forwards;
}
